@model IEnumerable<sacramentMeetingPlanner.Models.SacramentMeeting>

@{
    ViewData["Title"] = "Index";
}

<div class="index-container">
    <h1>Create your Program</h1>

    <div class="btns">
        <a asp-action="Index" asp-controller="Speaker" class="btn-speaker">View Speakers <i class="fa-solid fa-microphone"></i></a>
        <a asp-action="Create">Create Meeting <i class="fa-solid fa-plus"></i></a>
    </div>
</div>
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Benediction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningHymnID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentHymnID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingHymnID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DismissalHymnID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresidingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConductingID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Invocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Benediction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningHymn.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymn.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingHymn.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DismissalHymn.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presiding.Calling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conducting.Calling)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SacramentMeetingID"><i class="fa-solid fa-pen"></i></a> |
                <a asp-action="Details" asp-route-id="@item.SacramentMeetingID"><i class="fa-solid fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.SacramentMeetingID"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
