@model IEnumerable<sacramentMeetingPlanner.Models.Speaker>

@{
    ViewData["Title"] = "Index";
}

<div class="speaker-index">
    <h1>Your Speakers</h1>

    <p>
        <a asp-action="Index" asp-controller="SacramentMeeting" class="btn">Sacrament Meetings <i class="fa-solid fa-place-of-worship"></i></a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentMeetingID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentMeeting.Date)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.SpeakerID"><i class="fa-solid fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.SpeakerID"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
